* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

header {
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;

  display: flex;
  justify-content: flex-end;
  align-content: center;
}

#menu ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

#menu li {
  padding: 10px 15px;
  border-radius: 10px;
  transition: background-color 0.5s, color 0.5s;
}

#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-size: 1.2em;
  font-weight: bold;
}

#menu li:hover {
  background-color: var(--destaque-inverso);

  & a {
    color: var(--destaque);
  }
}